<div class="jumbotron">
  <h1 class="display-5">Chord Visualization Practice Tool</h1>
  <p class="lead">This tool generate random chords and you can practice visualizing chord tones based on the chord.</p>
  <hr class="my-4">
  <div class="row text-center">
    <div class="col-sm-5">
      <h1 style="font-size: 7em;">C&#x394;</h1>
    </div>
    <div class="col-sm-2" style="border: 5px dashed black;">
      <h1 style="font-size: 4em; margin-top: 20px;">3rd</h1>
    </div>
    <div class="col-sm-5">
      <img src="../../../assets/images/stave.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <hr>
  <div>
    <img src="../../../assets/images/fretboard.png" class="img-fluid" alt="Responsive image" style="width: 100%;">

  </div>
</div>

